{% import_yaml "cobbler/defaults.yaml" as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
  'default': {},
  'Debian': {
    'pkgs': ['dnsmasq',
      'rsync',
      'syslinux',
      'syslinux-tftpboot',
      'pykickstart',
      'fence-agents-all',
      'xinetd',
      'genisoimage',
      'yum-utils',
      'qemu',
      'virt-install',
      'tftp-server',
      'tftp',
      'python-augeas',
      'python-libs'],
    'tftpboot': '/tftpboot',
    'etc_dir': '/etc/cobbler',
    'lib_dir': '/var/lib/cobbler'
  },
}, grain='os_family', default='default', merge=salt['pillar.get']('cobbler:lookup', {}))
%}

{% do default_settings.cobbler.update(os_family_map) %}

{% set cobbler_map = salt['pillar.get'](
    'cobbler',
    default=default_settings.cobbler,
    merge=True)
%}
